.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;

}


.btn {
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  box-shadow: 0px 12px 8px 4px #cab1b14d;
  transform: scale(1);
  cursor: pointer;
  background-color: aqua;
  width: 100px;
  &:hover,
  &:focus {
    transform: scale(1.2);
    box-shadow: 0px 14px 6px 4px #cab1b98c;
  }
  &:active {
    transform: scale(1.2);
}
}